*
!apps/ia-games/molito/
apps/ia-games/molito/node_modules
apps/ia-games/molito/dist
apps/ia-games/molito/.astro
apps/ia-games/molito/src/test
apps/ia-games/molito/*.pen
apps/ia-games/molito/.env*
apps/ia-games/molito/docs
